# 11.1日期和时间数据类型及工具

In [2]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2019, 8, 25, 16, 56, 12, 688865)

In [3]:
now.year, now.month, now.day

(2019, 8, 25)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [5]:
delta.days

926

In [6]:
delta.seconds

56700

In [9]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## 字符串和datetime的相互转化

In [11]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

- datetime.strptime可以用这些格式化编码将字符串转化为日期

In [14]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [17]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [19]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [20]:
import pandas as pd
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [22]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [23]:
idx[2]

NaT

In [25]:
pd.isnull(idx)

array([False, False,  True])

# 11.2时间序列基础

In [27]:
import numpy as np
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), 
         datetime(2011, 1, 7), datetime(2011, 1, 8), 
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    1.844821
2011-01-05    0.488201
2011-01-07    0.158709
2011-01-08    0.296280
2011-01-10   -0.789867
2011-01-12   -0.489209
dtype: float64

In [28]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [29]:
ts + ts[::2]

2011-01-02    3.689642
2011-01-05         NaN
2011-01-07    0.317418
2011-01-08         NaN
2011-01-10   -1.579733
2011-01-12         NaN
dtype: float64

In [30]:
ts.index.dtype

dtype('<M8[ns]')

In [31]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

## 索引、选取、子集构造

In [32]:
stamp = ts.index[2]
ts[stamp]

0.15870879654258907

In [33]:
ts['1/10/2011']

-0.7898666535889071

In [34]:
ts["20110110"]

-0.7898666535889071

In [35]:
longer_ts = pd.Series(np.random.randn(1000), 
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.691268
2000-01-02   -2.313483
2000-01-03    0.743671
2000-01-04    0.413966
2000-01-05    0.197871
2000-01-06   -0.239669
2000-01-07   -1.120861
2000-01-08    0.665194
2000-01-09    1.195122
2000-01-10    1.212812
2000-01-11   -0.268422
2000-01-12    1.066158
2000-01-13    0.849294
2000-01-14    0.606046
2000-01-15    1.874558
2000-01-16    0.897116
2000-01-17   -0.926373
2000-01-18    0.722822
2000-01-19    1.653541
2000-01-20   -0.685022
2000-01-21    0.778672
2000-01-22    0.411222
2000-01-23   -0.133298
2000-01-24    0.177347
2000-01-25   -0.827148
2000-01-26    0.854314
2000-01-27    0.408444
2000-01-28    1.397387
2000-01-29    0.109690
2000-01-30   -0.353815
                ...
2002-08-28   -0.878575
2002-08-29    0.965484
2002-08-30   -1.916361
2002-08-31   -0.185891
2002-09-01   -0.176273
2002-09-02   -1.526548
2002-09-03    0.094815
2002-09-04   -1.073452
2002-09-05   -0.062207
2002-09-06    0.217020
2002-09-07   -1.847284
2002-09-08    0.419903
2002-09-09    0.954778
2002-09-10    0.676485
2002-09-11    1.569325
2002-09-12    0.307604
2002-09-13   -0.879756
2002-09-14   -0.479388
2002-09-15   -0.693784
2002-09-16   -0.970251
2002-09-17   -0.432174
2002-09-18    0.235445
2002-09-19    1.440798
2002-09-20    0.405875
2002-09-21   -1.176493
2002-09-22    0.339631
2002-09-23    1.890352
2002-09-24   -0.948696
2002-09-25   -0.063176
2002-09-26   -1.084147
Freq: D, Length: 1000, dtype: float64

In [36]:
longer_ts['2001']

2001-01-01    0.128423
2001-01-02    1.240009
2001-01-03   -1.221017
2001-01-04    0.294740
2001-01-05    0.116900
2001-01-06   -0.072612
2001-01-07   -1.675396
2001-01-08    0.111494
2001-01-09    1.155048
2001-01-10   -0.748529
2001-01-11    0.237023
2001-01-12   -0.404994
2001-01-13   -0.196104
2001-01-14    0.480820
2001-01-15   -0.193547
2001-01-16   -0.377972
2001-01-17    0.274223
2001-01-18    0.671968
2001-01-19    0.867068
2001-01-20    1.969918
2001-01-21    2.598121
2001-01-22    0.819589
2001-01-23    0.597861
2001-01-24   -1.123563
2001-01-25    0.305734
2001-01-26    0.477493
2001-01-27   -0.123370
2001-01-28    1.943752
2001-01-29    1.901768
2001-01-30    1.697427
                ...
2001-12-02    0.967899
2001-12-03   -1.366751
2001-12-04    1.681969
2001-12-05    1.468024
2001-12-06    0.435259
2001-12-07    0.625583
2001-12-08    1.182129
2001-12-09   -0.300722
2001-12-10    0.491243
2001-12-11    0.785622
2001-12-12   -0.095769
2001-12-13    0.936816
2001-12-14    1.084708
2001-12-15    0.269503
2001-12-16    0.095660
2001-12-17   -0.552008
2001-12-18    0.781817
2001-12-19   -0.710903
2001-12-20    0.659463
2001-12-21    1.098033
2001-12-22   -1.621816
2001-12-23    0.030736
2001-12-24   -0.285549
2001-12-25    0.066373
2001-12-26   -1.013749
2001-12-27   -0.643155
2001-12-28    1.480771
2001-12-29   -0.730706
2001-12-30    1.149701
2001-12-31   -1.070063
Freq: D, Length: 365, dtype: float64

In [37]:
longer_ts['2001-05']

2001-05-01   -0.357616
2001-05-02   -0.074469
2001-05-03    1.083405
2001-05-04    0.551617
2001-05-05    0.916829
2001-05-06   -0.463300
2001-05-07    0.205755
2001-05-08   -0.842417
2001-05-09    0.005949
2001-05-10    0.506292
2001-05-11   -0.539191
2001-05-12    0.275050
2001-05-13   -0.042529
2001-05-14    0.942703
2001-05-15   -0.071868
2001-05-16   -0.001685
2001-05-17    1.584732
2001-05-18    1.005421
2001-05-19    0.138757
2001-05-20   -0.166178
2001-05-21    0.322557
2001-05-22   -1.018197
2001-05-23    0.461449
2001-05-24   -1.714656
2001-05-25   -0.699069
2001-05-26    0.153683
2001-05-27   -0.245233
2001-05-28   -0.394011
2001-05-29   -0.303822
2001-05-30   -0.620416
2001-05-31    1.911282
Freq: D, dtype: float64

In [38]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.158709
2011-01-08    0.296280
2011-01-10   -0.789867
2011-01-12   -0.489209
dtype: float64

In [39]:
ts

2011-01-02    1.844821
2011-01-05    0.488201
2011-01-07    0.158709
2011-01-08    0.296280
2011-01-10   -0.789867
2011-01-12   -0.489209
dtype: float64

In [40]:
ts['1/6/2011': '1/11/2011']

2011-01-07    0.158709
2011-01-08    0.296280
2011-01-10   -0.789867
dtype: float64

In [41]:
ts.truncate(after='1/9/2011')

2011-01-02    1.844821
2011-01-05    0.488201
2011-01-07    0.158709
2011-01-08    0.296280
dtype: float64

In [43]:
dates = pd.date_range("1/1/2000", periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.516998  1.105041 -1.990428  0.531266
2001-05-09 -0.413307 -1.766970 -2.238588  0.077725
2001-05-16 -0.246524 -1.923576 -0.224001 -0.420620
2001-05-23  0.522271 -1.147033 -1.568419 -1.817098
2001-05-30 -0.353751 -0.632368  1.689070  0.109139

## 带有重复索引的时间序列

In [44]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [45]:
dup_ts.index.is_unique

False

In [46]:
dup_ts['1/3/2000']

4

In [47]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [48]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [49]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# 日期的范围、频率以及移动

In [50]:
ts

2011-01-02    1.844821
2011-01-05    0.488201
2011-01-07    0.158709
2011-01-08    0.296280
2011-01-10   -0.789867
2011-01-12   -0.489209
dtype: float64

In [51]:
resampler = ts.resample('D')

## 生成日期范围

In [53]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range('2000-01-01', '2000-12-01', freq='Bm')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [59]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## 频率和日期偏移量

In [60]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [61]:
four_hours = Hour(4)
four_hours

In [62]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [63]:
Hour(2) + Minute(30)

In [64]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

# 11.4时区处理

In [65]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

## 时区本地化和转化

In [66]:
rng = pd.date_range("3/9/2012 9:30", periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00    1.841575
2012-03-10 09:30:00    0.417623
2012-03-11 09:30:00   -1.250792
2012-03-12 09:30:00   -1.045933
2012-03-13 09:30:00    2.341404
2012-03-14 09:30:00    0.000850
Freq: D, dtype: float64

In [67]:
print(ts.index.tz)

None

In [68]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [69]:
ts

2012-03-09 09:30:00    1.841575
2012-03-10 09:30:00    0.417623
2012-03-11 09:30:00   -1.250792
2012-03-12 09:30:00   -1.045933
2012-03-13 09:30:00    2.341404
2012-03-14 09:30:00    0.000850
Freq: D, dtype: float64

In [71]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    1.841575
2012-03-10 09:30:00+00:00    0.417623
2012-03-11 09:30:00+00:00   -1.250792
2012-03-12 09:30:00+00:00   -1.045933
2012-03-13 09:30:00+00:00    2.341404
2012-03-14 09:30:00+00:00    0.000850
Freq: D, dtype: float64

In [72]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    1.841575
2012-03-10 04:30:00-05:00    0.417623
2012-03-11 05:30:00-04:00   -1.250792
2012-03-12 05:30:00-04:00   -1.045933
2012-03-13 05:30:00-04:00    2.341404
2012-03-14 05:30:00-04:00    0.000850
Freq: D, dtype: float64

## 操作时区意识型Timestamp对象

In [73]:
stamp = pd.Timestamp('2011-03-12 4:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

# 11.5时期及其算数运算

In [76]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')